<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
<!--			<link rel="stylesheet" type="text/css" href="/css/main.css">-->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		</head>
		<body>
			<nav>
	    		<ul>
<!--	        		<li><a href="/">Home</a></li>-->
<!--		        	<li><a href="/about">About</a></li>-->
<!--	        		<li><a href="/cv">CV</a></li>-->
<!--	        		<li><a href="/blog">Blog</a></li>-->
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->

			<div class="footer-copyright text-center py-3">© 2021 Copyright:
				  <a href="mailto:shashikamuramudalige@gmail.com">shashikamuramudalige@gmail.com</a> |
				  <a href="https://www.engr.colostate.edu/~shashika" target="_blank">engr.colostate.edu/shashika</a> |
				  <a href="https://github.com/shashika" target="_blank">github.com/shashika</a>
			  </div>

		</body>
	</html>